[Unit]
Description=CA Data Partition
DefaultDependencies=no
After=local-fs-pre.target systemd-cryptsetup@cadata.service

[Mount]
What=/dev/mapper/cadata
Where=/mnt/cadata
Type=ext4
Options=defaults,nofail,x-systemd.device-timeout=10

[Install]
WantedBy=local-fs.target
