[Unit]
Description=Mount USB storage device /dev/%i
BindsTo=dev-%i.device
Requires=mnt-cadata.mount
After=dev-%i.device mnt-cadata.mount

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/local/bin/usb-mount %i mount
ExecStop=/usr/local/bin/usb-mount %i umount
